@import url(https://fonts.googleapis.com/css2?family=Space+Mono:wght@700);

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template: "... .... ..." 1fr
                 "... hero ..." 9rem
                 "... .... ..." 1fr
                 "... calc ..." auto
                 "... .... ..." 1fr
                 "... attr ..." 5rem
                 "... .... ..." 1fr
                / 1fr auto 1fr;
  
  min-height: 100vh;
  margin: 0;
  background: #c5e4e7;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: #5e7a7d;
}

.hero {
  grid-area: hero;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc {
  grid-area: calc;
  display: flex;
  margin: 0 1em;
  padding: 1.5em;
  background: white;
  border-radius: 1em;
  box-shadow: 0 15px 20px rgba(0,0,0,.1);
}

.calc form {
  display: flex;
  gap: 1.5em;
  flex-grow: 1;
}

.inputs {
  padding: 1em;
}

.outputs {
  display: flex;
  flex-direction: column;
  padding: 2em;
  background: #00494d;
  border-radius: .75em;
  flex-grow: 1;
}

noscript {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  z-index: 1;
  font-size: 2em;
  background: rgba(0,0,0,.5);
}

noscript > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: .75rem;
  padding: 1em;
}

noscript strong {
  font-size: 2em;
  color: #c47163;
  margin: .3em;
}

/*----------------------------------------------------------------------*/

.alert {
  display: none;
  color: #c47163;
}

.alert.blue {
  color: #5e7a7d;
}

.alert.show {
  display: block;
}

/*----------------------------------------------------------------------*/

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

legend,
.inputs .wrapper:first-child {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .3em;
}

.inputs .wrapper:first-child {
  margin-bottom: .5em;
}

label, legend, button.btn {
  font-size: 1rem;
}

input, .btn {
  font: inherit;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 2px solid transparent;
  padding: .4em;
}

input:focus {
  outline: 0;
}

input::placeholder {
  color: #7f9c9f;
}

input#rad-c::placeholder {
  color: #5e7a7d;
}

label {
  display: block;
}

[type="text"] {
  background: #f4fafa;
  color: #00494d;
  text-align: right;
}

[type="text"]:focus {
  border-color: #26c0ab;
}

[type="text"]:invalid {
  border-color: #c47163;
}

#bill-wrapper input,
#people-wrapper input {
  padding-left: 2rem;
}

#bill-wrapper::before,
#people-wrapper::before {
  content: "";
  background: center no-repeat;
  width: 1rem;
  position: absolute;
  top: 0; bottom: 0;
  left: 1rem;
}

#bill-wrapper::before {
  background-image: url(images/icon-dollar.svg);
}

#people-wrapper::before {
  background-image: url(images/icon-person.svg);
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

label, fieldset {
  margin-bottom: 2em;
}

label:last-child {
  margin-bottom: 0;
}

legend {
  width: 100%;
  padding: 0;
  margin-bottom: 1em;
}

[type="radio"] {
  width: 0;
  position: absolute;
}

.btn {
  text-align: center;
}

[type="radio"] + label.btn {
  color: white;
  background: #00494d;
  padding-left: 1.4em;
  padding-right: 1.4em;
  margin: 0;
}

button.btn:focus,
[type="radio"]:focus + label.btn {
  border-color: #00494d;
}

button.btn:hover,
[type="radio"]:hover + label.btn {
  color: #00494d;
  background: #7fe6d8;
}

button.btn,
[type="radio"]:checked + label.btn {
  color: #00494d;
  background: #26c0ab;
}

button.btn:hover {
  outline-color: #7fe6d8;
}

button.btn:active {
  background: #aaeee5;
  outline-color: #aaeee5;
}

button.btn:disabled {
  opacity: .3;
  pointer-events: none;
}

/*----------------------------------------------------------------------*/

#reset {
  margin-top: auto;
}

#reset:focus {
  border-color: transparent;
}

.outputs label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5em;
  padding: 1em 0 0;
  color: white;
}

.per-person {
  font-size: .75em;
  color: #7f9c9f;
  margin-top: .5em;
}

output {
  font-size: 2.5rem;
  color: #26c0ab;
  max-width: 5em;
  width: 15vw;
  min-width: min-content;
  text-align: right;
}

/*----------------------------------------------------------------------*/

.attribution {
  grid-area: attr;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7em;
  color: #00494d;
  line-height: 2;
}

.attribution a {
  color: inherit;
  outline-offset: .5em;
}

.attribution a:hover,
.attribution a:active {
  opacity: .7;
  text-decoration: none;
}

.attribution a:focus-visible {
  opacity: .7;
}

/*----------------------------------------------------------------------*/

@media (max-width: 840px) {
  .calc {
    width: 35rem;
    margin: 0;
  }
  
  .calc form {
    flex-direction: column;
  }
  
  .inputs {
    padding: .5em;
  }
  
  .outputs {
    padding: 1.5em;
  }
  
  output {
    font-size: 2rem;
  }
  
  button.btn {
    font-size: 1.25rem;
    padding: .6em;
  }
}

@media (max-width: 560px) {
  body {
    grid-template: " hero " minmax(9rem,15vh)
                   " calc " auto
                   " calc " 1fr
                   " attr " 5rem
                  /  auto ;
  }
  
  .calc {
    width: 100%;
    border-radius: 1em 1em 0 0;
  }
  
  noscript {
    font-size: 1.5em;
  }
  
  .attribution {
    background: white;
    color: rgba(0,73,77,.9);
    padding: 0 1em 2em;
    margin-top: -1px;
  }
}

@media (max-width: 440px) {
  fieldset {
    grid-template-columns: 1fr 1fr;
  }
  
  .attribution {
    font-size: .6em;
  }
}

@media (max-width: 380px) {
  noscript > div {
    padding: 1em 0;
  }
  
  .attribution {
    font-size: .55em;
  }
}



